extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
	section.home-slider
		.slider1.owl-carousel.owl-theme
			.item
				figure
					img.img-fluid(src="img/home_slider_1.png", alt="")
				.text-slider
					p.so0
						span.so1 PT EVENTS 
						span.so2 - Ghi lại dấu ấn hạnh phúc của cuộc đời bạn
					a.btn Xem thêm
			.item
				figure
					img.img-fluid(src="img/home_slider_2.png", alt="")
				.text-slider
					p.so3 Đồng hành cùng bạn tạo ra những khoảnh khắc tuyệt vời nhất
					a.btn Xem thêm
			.item
				figure
					img.img-fluid(src="img/home_slider_3.png", alt="")
				.text-slider
					p.so4 Chương trình Team building Cướp Biển Vùng Caribe
					a.btn Xem thêm
	section.home-about
		.container
			.row
				.col-sm-12.col-md-6.col-lg-6.stt1
					.about-trai
						p.ab-1 VỀ CHÚNG TÔI
						p.ab-2 PT EVENT
						p.ab-3 Với mong muốn cập nhật những xu thế mới và sáng tạo cho khách hàng, PT event đang ngày một hoàn thiện để trở thành công ty cung cấp dịch vụ tổ chức sự kiện chuyên nghiệp, sáng tạo và hiệu quả.
						p.ab-3 Chúng tôi lấy con người làm nền tảng để làm việc và hướng tới phục vụ, chính vì vậy đội ngũ nhân sự của PT event luôn làm việc với tinh thần trách nhiệm cao, tận tâm và sáng tạo. Đồng thời, chúng tôi luôn lắng nghe khách hàng, tìm kiếm và đột phá trong việc đưa ra các giải pháp để mục đích cuối cùng là mang lại cho quý khách hàng những trải nghiệm tuyệt vời và hài lòng nhất.
				.col-sm-12.col-md-6.col-lg-6.stt2
					.about-phai
						figure.about-phai-background
							img.img-fluid(src="img/home_envent_video_background.png", alt="")
						.play-button
							figure
								img.img-fluid(src="img/play button.png", alt="play")
			.row.mt-5.about-icon-event
				.slider2.owl-carousel.owl-theme
					.item
						figure
							img(src="img/home_icon_enven_1.png", alt="")
						.text-icon
							h6 Uy tính chất lượng
					.item
						figure
							img(src="img/home_icon_enven_2.png", alt="")
						.text-icon
							h6 Ý tưởng sáng tạo 
					.item
						figure
							img(src="img/home_icon_enven_3.png", alt="")
						.text-icon
							h6 Trang thiết bị đạt chuẩn 
					.item
						figure
							img(src="img/home_icon_enven_4.png", alt="")
						.text-icon
							h6 Tổ Chức theo quy trình 
					.item
						figure
							img(src="img/home_icon_enven_5.png", alt="")
						.text-icon
							h6 Chi phí tiết kiệm
	section.dichvucungcap
		.container.mt-5
			.row.tieude-center.mt-5
				.tieude-text-center
					p.mt-5 PT EVENT CUNG CẤP
					h3 DỊCH VỤ CUNG CẤP
				.tieude-after-before-center
					p
			.row.dichvucungcap-sanpham.mt-5
				.col-sm-4
					.sanpham1
						figure
							img.img-fluid(src="img/home_dichvu_1.png", alt="")
						figcaption
							h5 SỰ KIỆN
						.show-text-sanpham1
							h5 Sự kiện trong và ngoài nước
							p.mt-4 Với lịch trình dày, khởi hành đúng thời gian cam kết, PT Event  luôn sẵn sàng phục vụ du khách mọi lúc, mọi nơi, đảm bảo tính chuyên nghiệp và chất lượng dịch vụ tốt nhất thị trường.
				.col-sm-4
					.sanpham2
						figure
							img.img-fluid(src="img/home_dichvu_2.png", alt="")
						figcaption
							h5 DU LỊCH
						.show-text-sanpham2
							h5 Du lịch trong và ngoài nước
							p.mt-4 Với lịch trình dày, khởi hành đúng thời gian cam kết, PT Event  luôn sẵn sàng phục vụ du khách mọi lúc, mọi nơi, đảm bảo tính chuyên nghiệp và chất lượng dịch vụ tốt nhất thị trường.
				.col-sm-4
					.sanpham3
						figure
							img.img-fluid(src="img/home_dichvu_3.png", alt="")
						figcaption
							h5 VẬN TẢI
						.show-text-sanpham3
							h5 Vận tải trong và ngoài nước
							p.mt-4 Với lịch trình dày, khởi hành đúng thời gian cam kết, PT Event  luôn sẵn sàng phục vụ du khách mọi lúc, mọi nơi, đảm bảo tính chuyên nghiệp và chất lượng dịch vụ tốt nhất thị trường.
	section.sukiennoibat
		.container
			.row.tieude-center.mt-5
				.tieude-text-center
					p.mt-5 PT EVENT CUNG CẤP
					h3 DỊCH VỤ CUNG CẤP
				.tieude-after-before-center
					p
			.slider2.owl-carousel.owl-theme
				.item
					figure
						img.img-fluid(src="img/home_sukiennoibat_1.png", alt="")
				.item
					figure
						img.img-fluid(src="img/home_sukiennoibat_2.png", alt="")
				.item
					figure
						img.img-fluid(src="img/home_sukiennoibat_3.png", alt="")



