<!-- ////////////// HEADER ////////////// -->
header
	.container.header
		.info-header
			.box1
				a.p-3(href="#") 
					i.fa.fa-phone (028) 62 92 65 95
			.box2
				a.p-1.pl-2(href="#")
					i.fa.fa-facebook-f
			.box3
				a.p-1(href="#")
					i.fa.fa-instagram
			.box4
				a.p-1.pr-2(href="#")
					i.fa.fa-youtube-square
			.box5
				a.pl-3(href="#") 
					i.fa.fa-globe
			.box6
				a.pl-2.pr-3(href="#") ENG
		nav.navbar.navbar-expand-lg.navbar-light
			a.logohinh(href='#')
				figure#octagon 
					img.img-fluid(src="img/logo_header.png", alt="")
			.mr-auto
			button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
				span.navbar-toggler-icon
			#navbarNavDropdown.collapse.navbar-collapse
				.mr-auto
				ul.navbar-nav
					li.nav-item.dropdown
						a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') GIỚI THIỆU
						.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
							a.dropdown-item(href='#') Action
							a.dropdown-item(href='#') Another action
							a.dropdown-item(href='#') Something else here
					li.nav-item.dropdown
						a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') DỊCH VỤ
						.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
							a.dropdown-item(href='#') Action
							a.dropdown-item(href='#') Another action
							a.dropdown-item(href='#') Something else here
					li.nav-item.active
						a.nav-link(href='#') SỰ KIỆN NỔI BẬT
					li.nav-item
						a.nav-link(href='#') TIN TỨC SỰ KIỆN
					li.nav-item.dropdown
						a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') HỖ TRỢ
						.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
							a.dropdown-item(href='#') Action
							a.dropdown-item(href='#') Another action
							a.dropdown-item(href='#') Something else here
					li.nav-item
						a.nav-link(href='#') TUYỂN DỤNG
					li.nav-item
						a.nav-link(href='#') LIÊN HỆ
			



